<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Rg==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	9A==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	AQASCgAAAABAAAAVgz0KVw==
	</data>
	<key>boot-args</key>
	<string>-v keepsyms=1 alcid=1 -no_compat_check</string>
	<key>csr-active-config</key>
	<data>
	AwAAAA==
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjc3RDBFREZCLTI4
	RjctNDU4Ni05REE0LTNDRkY2MzhGMDYxRjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxJTTE4MV8wMTYxX0IwMC5mZDwvc3RyaW5nPjwvZGljdD48L2FycmF5PgA=
	</data>
	<key>efi-apple-recovery-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	APvt0Hf3KIZFnaQ8/2OPBh8CAgQEUABcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwASQBNADEAOAAxAF8AMAAxADYAMQBfAEIAMAAwAC4AZgBkAAAAf/8E
	AA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjRFMjY2OENDLUM0
	N0MtNDEwRC05NTZBLTQ1RkZFOTA5NTJDQzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAUAwUGABcABAEqAAIAAAAoQAYAAAAAALC/kgMAAAAAzGgm
	TnzEDUGVakX/6QlSzAICf/8EAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAABA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CXDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajEzM180XwA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkEPAAAB
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzNQAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	QW50b+KAmXMgaU1hYw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQUZBQUFBQkx3SUFBQUFBRjdEdjVBUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFBekI4LUt0dTN6WmV6eHVYUlJLWGkyT0dCRDg1b2RXbXdsVUU3
	MUJlVUU5NjVxdm03UTNpbzFPT0lFMTZkZkR3TVZXTDdCQ0Z5ajBNbEZKVHVvelA2X042
	bV9pd09xY3JGMWhQejlBeldmQkJuOFR3TTBwRDdxYy1TVE5FS0FhbzlVV2JKLTFxS0ND
	cHFJellaS2VIOHgtMFZNVGd+fhEB9V8QEm1udXdvcmxkQHlhaG9vLmNvbVoxOTM0MDc3
	NjE1I0HXsO/mRYYKXxAkRTc5QjI0QzEtRTk2Qi00MzNBLTk0MzItNjUyMjc4MUIyQUQ2
	0xcYGRobHF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5h
	bWVfEBJJblVzZU93bmVyTGFzdE5hbWVbTmFzaXIgVWRkaW5VTmFzaXJVVWRkaW7RDx7U
	HyAhIiMkJSZWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1
	Y3Rpb25fEBNwMTktZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzAAgAIQAzAEgAUgBh
	AGgAdgB/AIgAkACVAJ4AtAC2ALgA3AGrAa4BwwHOAdcB/gIFAh0CMwJIAlQCWgJgAmMC
	bAJzAnwCigKRApwCsgK4AAAAAAAAAgEAAAAAAAAAJwAAAAAAAAAAAAAAAAAAAr4=
	</data>
	<key>nvda_drv</key>
	<data>
	MQA=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW4tVVM6MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgACAAAAKEAGAAAAAABg8sgdAAAA
	AF4VEEsZr4xHreOvj/+8S+oCAgQDJAD3/HS+fAvzSZFHAfQELmhCQxHHrEAIME69v2sS
	V7xENH//BAA=
	</data>
</dict>
</plist>